body {
    margin: 0 auto;
    font-family: Verdana;
    font-size: 1.5rem;
}
li {
    margin-bottom: 20px;
}
iframe {
    margin-top: 10px;
}
.container {
    margin: 80px 300px;
    position: relative;
    min-width: 640px;
}

.video-lg {
    width: 1120px;
    height: 630px;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 40px 40px;
    }
    .video-lg {
        width: 560px;
        height: 315px;
    }
}